.featured-sect {
  margin-bottom: 60px;
}

/* re-positioning arrows */

.splide__arrow {
  background: rgba(204, 204, 204, 1) !important;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
}

.featured-sect .splide__arrow {
  top: 58% !important;
}

@media (hover: none) {
  .splide__arrow {
    display: none !important;
  }
}
